.active {
    width: 100%;
    height: 850px;
    display: flex;
    gap: 31px;
    align-items: flex-start;
    padding: 0 0 0 144px;
    flex-direction: column;
    justify-content: center;

    background-image: url("../Assets/AsideBG2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.active h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: 78px;
    letter-spacing: 2px;
    color: #F2DCE4;
}

.active p {
    width: 470px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.active button {
    width: 114px;
    height: 40px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #013A4C;
}