.article {
    width: 100%;
    height: 2432px;
    display: flex;
    gap: 149px;
    align-items: center;
    padding: 127px 0 583px 0;
    flex-direction: column;
    background: url(../Assets/Cardimg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article h2 {
    width: 830px;
    height: 240px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #013A4C;
}

.article-card {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 90px;
    align-items: flex-end;
    padding: 0 144px;
    flex-direction: column;
}

.card-box {
    width: 624px;
    height: 373px;
    display: flex;
    align-self: flex-end;
    padding: 0 8px 32px 96px;
    flex-direction: column;
    justify-content: space-between;
}

.card-box:nth-child(even) {
    align-self: flex-start;
}

.card-img {
    width: 109px;
    height: 109px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #013A4C;
}

.card-box h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
}

.card-box p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #013A4C;
}

.card-box button {
    width: 127px;
    height: 40px;
    background: #013A4C;
    border: 1px solid #013A4C;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}