.dstn-container {
    width: 100%;
    height: auto;
    display: flex;
    gap: 200px;
    align-items: center;
    flex-direction: column;
    padding: 127px 144px 128px 144px;
    background-color: #fff;
}

.dstn-user-comment {
    width: 100%;
    height: 656px;
    display: flex;
    gap: 57px;
    align-items: flex-start;
    padding: 0 0 90px 0;
    flex-direction: column;
}

.dstn-user-comment h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
}

.user-content {
    width: 100%;
    height: 446px;
    display: flex;
    gap: 14px;
    align-items: stretch;
    justify-content: flex-start;

    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.user-card {
    max-width: 375px;
    height: 446px;
    display: flex;
    align-items: flex-start;
    padding: 65px 32px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #D6DFE2;
    border-radius: 7px;
    flex-shrink: 0;
}

.user-card p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #013A4C;
}

.user-card button {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #89285B;
    background-color: rgba(0, 0, 0, 0);
}

.user-card-img {
    width: 241px;
    height: 60px;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
}

.user-card-img img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.user-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.user-info span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #013A4C;
}

.dstn-logos {
    width: 100%;
    height: 572px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos-text {
    width: 512px;
    height: 310px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.logos-text h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.4px;
    color: #013A4C;
}

.logos-text p {
    width: 400px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #013A4C;
}

.logos-text button {
    width: 200px;
    height: 50px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
}

.dstn-logos img {
    width: 500px;
    object-fit: cover;
}

.dstn-imgs-content {
    width: 100%;
    height: 1122px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.imgs-ctt-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgs-ctt-header h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
}

.imgs-ctt-header button {
    width: 146px;
    height: 50px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
}

.imgs-ctt-hero {
    width: 100%;
    min-height: 944px;
    display: flex;
    gap: 24px;

    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
}

.imgs-box1 {
    width: 100%;
    height: 477px;
    display: flex;
    align-items: center;
    padding: 0 0 0 32px;
    justify-content: space-between;
    background: #F2DCE4;
    border-radius: 8px;
}

.box1-text {
    width: 576px;
    height: 100%;
    display: flex;
    gap: 63px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.box1-text button {
    width: 51px;
    height: 21px;
    background: #B73D8B;
    border-radius: 2px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #F2DCE4;
}

.box1-text h2 {
    width: 430px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
}

.box1-text span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #013A4C;
}

.imgs-box1 img {
    width: 576px;
    height: auto;
    object-fit: contain;
}

.imgs-box2 {
    width: 368px;
    height: 444px;
    display: flex;
    align-items: flex-start;
    padding: 0 0 24px 0;
    flex-direction: column;
    justify-content: space-between;
    background: #013A4C;
    border-radius: 8px;
}

.imgs-box2 button {
    width: 47px;
    height: 21px;
    background: #F2DCE4;
    border-radius: 2px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #013A4C;
}

.imgs-box2 h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.imgs-box2 span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
}

.imgs-box2 button,
.imgs-box2 h2,
.imgs-box2 span {
    margin-left: 24px;
}

.imgs-box3 {
    width: 368px;
    height: 444px;
    display: flex;
    align-items: center;
    padding: 24px 0 87px 0;
    flex-direction: column;
    justify-content: space-between;
    background: #0F5987;
    border-radius: 8px;
}

.imgs-box3 button:first-child {
    width: 104px;
    height: 21px;
    background: #187BB7;
    border-radius: 2px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    text-align: center;
    color: #FFFFFF;
}

.imgs-box3 h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.imgs-box3 button:last-child {
    width: 135px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.imgs-box4 {
    width: 368px;
    height: 444px;
    display: flex;
    align-items: flex-start;
    padding: 0 0 24px 0;
    flex-direction: column;
    justify-content: space-between;
    background: #F2DCE4;
    border-radius: 8px;
}

.imgs-box4 button {
    width: 51px;
    height: 21px;
    background: #B73D8B;
    border-radius: 2px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    color: #F2DCE4;
}

.imgs-box4 h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #013A4C;
}

.imgs-box4 span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #013A4C;
}

.imgs-box4 button,
.imgs-box4 h2,
.imgs-box4 span {
    margin-left: 24px;
}

.dstn-aside {
    width: 100%;
    height: 642px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.dstn-aside h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.4px;
    color: #013A4C;
}

.aside-card-box {
    width: 100%;
    height: 540px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aside-boxs-card {
    width: 576px;
    height: 540px;
    display: flex;
    align-items: center;
    padding: 0 0 15px 0;
    flex-direction: column;
    justify-content: space-between;
}

.aside-boxs-card img {
    width: 100%;
    height: 315px;
    object-fit: cover;
    border-radius: 7px;
}

.aside-boxs-card span {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
}

.aside-boxs-card h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #013A4C;
}

.aside-boxs-card button {
    width: 154px;
    height: 50px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
}