.section {
    width: 100%;
    height: 1700px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 144px 0 144px;
    flex-direction: column;
    background-color: #013A4C;
}

.section h2 {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #FFFFFF;
}

.stn-imgcard {
    width: 100%;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.section-middle {
    width: 100%;
    height: 507px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-text {
    width: 50%;
    height: 507px;
    display: flex;
    align-items: flex-start;
    padding: 0 0 32px 0;
    flex-direction: column;
    justify-content: space-between;
}

.section-text h3 {
    width: 402px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: 0.4px;
    color: #F2DCE4;
}

.section-text p {
    width: 528px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}

.section-text button {
    width: 216px;
    height: 50px;
    background: #FFD063;
    border: 1px solid #FFD063;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #013A4C;
}

.stn-article-img {
    width: 500px;
    height: 500px;
}

.stn-article-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-data {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: #D3E8F4;
    border-radius: 10px;
}

.stn-header {
    width: 100%;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #013A4C;
}

.stn-header-ul {
    width: 100%;
    height: 121px;
    display: flex;
    align-items: center;
    padding: 0 96px;
    justify-content: space-between;
}

.stn-header-ul li a {
    display: flex;
    gap: 7px;
    flex-direction: column;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #013A4C;
}

.stn-hero {
    width: 100%;
    height: 479px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stn-hero-text {
    width: 576px;
    height: 355px;
    display: flex;
    align-items: flex-start;
    padding: 0 0 28px 96px;
    flex-direction: column;
    justify-content: space-between;
}

.stn-hero-text h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #013A4C;
}

.stn-hero-text p {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    color: #013A4C;
}

.stn-list-button {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.stn-list-button p {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #013A4C;
}

.stn-list-button i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #fff;
    background-color: #346170;
    border-radius: 50px;
}

.learn-btn {
    width: 113px;
    height: 40px;
    border: 1.5px solid #013A4C;
    border-radius: 4px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #013A4C;
    background: rgba(0, 0, 0, 0);
}

