* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.img-section {
  width: 100%;
  height: 814px;
  object-fit: cover;
  display: block;
}